{% extends "_base.html" %}
{% block authorized_user %}
    {% include "_authorized.html" %}
{% endblock %}
{% block content %}
                  <div class="container-fluid ask-current_tag">
                      New Question
                  </div>




                <div class="ask-content">


                <form action="/ask/" method="post" class="form-horizontal ask-form_log_in">
                    {% csrf_token %}
                    {%  for i in form %}
                    <div class="form-group">
                        <label class="col-sm-2 ask-form_new_user_label">{{ i.label }}</label>
                        <div class="col-sm-10">
                            <div class="ask-form_new_user_label ask-button-ask">
                                {{ i }}
                            </div>
                            <div class="ask-error_message">
                                    {{ i.errors }}
                            </div>

                        </div>
                    </div>
                    {% endfor %}

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <input type="submit" value="ASK" class="btn btn-default ask-button_ask"/>
                        </div>
                    </div>
                </form>
                </div>

   {% endblock %}