{% extends "_base.html" %}
{% block authorized_user %}
    {% include "_notauthorized.html" %}
{% endblock %}
{% block content %}
                  <div class="container-fluid ask-current_tag">
                      {{ type }}
                  </div>

                  <div class="container-fluid ask-error_message">
                      {{ form.non_field_errors }}
                  </div>

                <div class="ask-content">


                <form action="{{ redirect_url }}" method="post" class="form-horizontal ask-form_log_in" enctype="multipart/form-data">
                    {% csrf_token %}
                    {%  for i in form %}
                    <div class="form-group">
                        <label class="col-sm-4 ask-form_new_user_label">{{ i.label }}</label>
                        <div class="col-sm-8">
                            <div class="ask-form_new_user_label ask-button-ask">
                                {{ i }}
                            </div>
                            <div class="ask-error_message">
                                    {{ i.errors }}
                            </div>

                        </div>
                    </div>
                    {% endfor %}

                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            {% if form %}
                            <input type="submit" value="SAVE" class="btn btn-default ask-button_ask"/>
                            {% elif type == 'Settings' %}
                            <input type="submit" value="SIGNUP" class="btn btn-default ask-button_ask"/>
                            {% endif %}
                        </div>
                    </div>
                </form>
                </div>

                <br><br>

{% endblock %}
